.myBody {
    background-color: #253f76ea;
    color: black;
}
hr {
    width: 70%;
    border: 3px solid rgba(52, 52, 52, 0.568);
}
.emailInput {
    font-size: 20px;
    padding: 5px;    
    font-size: 20px;
    width: 90%;
    justify-content: center;
    align-items: center;

    input {
        height: 30px;
        width: 60%;
    }
}
form {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.vid {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}
#twitch-embed {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: purple;
}
.grid-container {
display: grid;
grid-template-columns: 30% 70%;
/*background-color: #2195f3de;*/
padding: 10px;
}
.grid-item {
    background-color: rgba(243, 243, 243, 0.083);
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 11px;
    padding: 20px;
    font-size: 21px;
    text-align: center;
    margin: 10px;
    display: block;
}
.grid-form {
    grid-row: 1/3;
}
.stream {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgba(80, 81, 82, 0.273);
    opacity: 80%;
    border-radius: 15px;
    padding: 7px;
    margin: 2%;
    width: 15rem;
    height: 50px;

    h3 {
        width: 30px;
        height: 35px;
        justify-content: center;
        border-radius: 9px;
    }

    p {
        border-radius: 10px;
        width: 80%;
    }
}
.activeStream {
    background-color: rgba(64, 151, 221, 0.672);
    border: 2px solid black;
    opacity: 100%;

    h3 {
        background-color: rgba(54, 63, 182, 0.77);
        border-bottom: 2px solid black;
    }
    p {
        font-weight: 500;
    }
}
.topicRequest {
    display: inline-flex;
    padding: 10px;
    margin: 5px;
    width: 85%;
    justify-content: center;
    align-items: center;

    input {
        font-size: 20px;
        height: 30px;
        width: 20%;
        margin-left: 10%;
        border-radius: 10px;
        border: 1px solid black;
        padding-left: 5%;
    }

    select {
        border-radius: 10px;
        border: 1px solid black;
        
    }
    
}

#subscribe {
    width: 40%;
    height: 35px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgba(225, 230, 255, 0.886);

}
  


table {
    width: 80%;
    align-self: center;
}